body {
  padding: 0;
  margin: 0;
  color: #252525;
}

h1 {
  font-family: "Racing Sans One", cursive;
  font-weight: 900;
}

h1,
h2 {
  margin: 0 !important;
}

img {
  -webkit-filter: drop-shadow(3px 3px 3px #969696);
  filter: drop-shadow(3px 3px 3px #969696);
}

button {
  font-size: 0.5rem;
}

input {
  width: 100%;
  padding: 5px 10px;
  background: rgb(237, 246, 250) 100.2%;
  border: 1px solid gray;
  border-radius: 10px;
  transition: all 250ms ease-in-out;
}

input:hover {
  background: whitesmoke;
}

input:focus {
  outline: none;
}

.container {
  padding-top: 10px;
  border: none;
  background: linear-gradient(
    109.6deg,
    rgb(195, 227, 253) 11.2%,
    rgb(237, 246, 250) 100.2%
  );
  border-radius: 10px;
  max-width: 700px !important;
}

.weather {
  display: block;
  margin: auto;
  width: 100%;
}

.unit,
#seprator {
  background: none;
  border: none;
  color: #252525;
  font-size: 1rem !important;
}

.weekDay {
  display: block;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
}

.week div {
  transition: all 250ms ease-in-out;
}

.week div:hover {
  background: #8eafc5ce;
}

.temp {
  text-align: center;
}

.information {
  vertical-align: middle;
}

.github a {
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
  color: #2b4a72;
  padding: 5px;
}

.github a:hover {
  color: #152438;
}

#currentDay {
  margin: 30px 0;
}

#date {
  font-size: 1rem !important;
}

hr {
  margin: 2px !important;
}
